/* Style Guides For Various Parts of the app */
.App {
  text-align: center;
}

.App-link {
  color: #0a0a0a;
}

.albumImg {
  border: solid black;

}

.contentMain {
  text-align: center;
}

.cardHeader {
  background: #0a0a0a;
}

.cardBody {
  display: flex;
  flex-wrap: wrap;
  background: rgb(196, 245, 247);
}

.cardSingle {
  width: 31.5rem;
}

.cardInfo{
  text-align: center;
  padding-left: 10px;

}

.cardDisplay {
  /* Allows Cards to be diplayed horizontally on the page if there is space */
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}
